*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
background:#020617;
display:flex;
justify-content:center;
align-items:center;
}

.container{
display:flex;
gap:20px;
}

.box{
width:160px;
height:200px;
background:#020617;
border-radius:12px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:white;
cursor:pointer;
position:relative;
transition:.4s;
border:2px solid #0ff;
}

/* Glow */
.box:before{
content:'';
position:absolute;
inset:-2px;
border-radius:12px;
background:linear-gradient(45deg,cyan,purple);
z-index:-1;
filter:blur(15px);
opacity:0;
transition:.4s;
}

.box:hover:before{
opacity:1;
}

.box:hover{
width:200px;
transform:translateY(-15px);
}

.box p{
opacity:0;
margin-top:10px;
transition:.3s;
}

.box:hover p{
opacity:1;
}
